.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
}

body{
    margin: 0px;
    background-color: #94E0C0;
}

.title{
    margin-left: 550px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 30px;
}

.origami{
    border-radius: 20px;
    background-color: #EA8A7B;
    margin-left: 50px;
    padding: 10px;
    width: 310px;
}

.bodyimg{
    position: relative;
}

.bodyimg h4{
   position: absolute;
   top: 2%;
   left: 38.5%; 
}

.bodyimg h3{
   position: absolute;
   top: 19%;
   left: 1%; 
}